<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="https://brandonfannin.com">Home</a>

    {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
  {% endcomment %}

  {% assign pages_list = site.pages | sort:"url" %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "page" %}
        <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}

  <span class="icons-flex">
  <span class="sidebar-nav-item">Connect: </span>
  <a class="sidebar-nav-item icon" href="mailto:b@brandonfannin.com?subject=My%20old%20friend&amp;body=I've%20come%20to%20talk%20with%20you%20again"><i class="fas fa-envelope-square"></i></a>
  <a class="sidebar-nav-item icon" href="https://www.linkedin.com/in/brandon-fannin/"><i class="fab fa-linkedin"></i></a>
  <a class="sidebar-nav-item icon" href="https://github.com/beefan"><i class="fab fa-github-square"></i></a>
  </span>
</nav>

<div class="sidebar-item">
<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
